<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Главная</title>
  </head>
  <body>
    <div class="container example">
      <div class="row">
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">1</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">2</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">3</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">4</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">5</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">6</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">7</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">8</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">9</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">10</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">11</div>
        <div class="col-6 sm:col-4 md:col-3 lg:col-2">12</div>
      </div>
    </div>
  </body>
</html>
