.container { @include wrapper(); }

.container-fluid { @include wrapper-full(); }

.row { @include row-flex(); }

[class^="col-"], .col { @include col(); }

.col { flex: 1 0 0; }

@for $i from 0 to $columns {
  .col-#{$i + 1} { @include size($i + 1); }
}

@for $i from 0 to $columns {
  .sm\:col-#{$i + 1} { @include size-sm($i + 1); }
}

@for $i from 0 to $columns {
  .md\:col-#{$i + 1} { @include size-md($i + 1); }
}

@for $i from 0 to $columns {
  .lg\:col-#{$i} { @include size-lg($i); }
}

.container.example {
  background: lavender;
  padding-top: 20px;
  [class^="col-"] {
    margin-bottom: 20px;
    background: cornflowerblue;
    text-align: center;
    color: #fff;
    border-radius: 4px;
  }
}
